# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Examples of small Python projects\Face recognition using opencv python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
